<div class="col-md-10 center">
<h1>Edit Team</h1>
</div>

<div class="col-md-10 well center">

<h2>Team Settings</h2>


<%= render 'shared/form_errors', errors: @team.errors %>

<div class="form-inline clearfix">
<%= form_for(@team) do |f| %>

    <div class="form-group">
      <%= f.text_field :name, class: "form-control", :placeholder => :name %>
    </div>

    <%= f.submit class: "btn btn-info", value:"Update Name" %>
<% end %>
</div>
</div>
<br>
<div class="col-md-10 well center">

<h2>Team Management</h2>

  <table class="table clearfix">
    <div class="form-inline">
      <div class="form-group">
        <a data-toggle="modal" href="#addMembersModal" class="btn btn-success pull-right"> <span class="glyphicon glyphicon-plus"></span> Add Member</a>
        </div>
    </div>
    <div>
      <%= render 'people_list', people: @members, modal: false %>
    </div>
  </table>

  <%= render partial: 'add_member_modal' %>
</div>