<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Pairs Made:</b>
  <%= @person.paired_count.to_i  %>
</p>

<p>
  <b>Weeks in Organization</b>
  <%= @person.unpaired_count.to_i + @person.paired_count.to_i %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
