<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Paired count:</b>
  <%= @person.paired_count %>
</p>

<p>
  <b>Unpaired count:</b>
  <%= @person.unpaired_count %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
