      <div class="row">

    <div class="col-md-4 well center">
      <%= render 'shared/form_errors', errors: @organization.errors %>

  <%= form_for @organization, url: signup_path do |f| %>


    <legend class="organization-form-legend">Sign Up for 1+1!</legend>

    <div class="field">
      <%= f.text_field :email, class: "form-control", :placeholder => :email %>
    </div>

    <div class="field">
      <%= f.password_field :password, class: "form-control", :placeholder => :password %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-lg btn-info btn-block", value: "Sign Up" %>
    </div>

  <% end %>

   </div>
  </div>