<!DOCTYPE html>
<html>
  <head>
    <title>Oneplusone</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: 'shared/site_header' %>

    <div class="container">

    <%= render partial: 'shared/flash', :locals => {:flash => flash} unless request.path == '/login' %>
      <%= yield %>
    </div>

  </body>
</html>
