<!DOCTYPE html>
<html>
<head>
  <title>Oneplusone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_organization %>
    <% flash.each do |name, msg| %>
      <div class='alert alert-dismissable alert-danger'>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
          <%= msg.to_s %>
      </div>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
